*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: #0d1b2a;
    color: #E0E1DD;
    line-height: 1.6;
}

header{
    background: #1b263b;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;

}

img{
    width: 100px;
    height: 100px;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}
.center-title{
  color: #00B4D8;
  font-size: 1.8em;
  font-weight: 700;
}
.menu{
   display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}
.nav-links a {
  text-decoration: none;
  color:  #E0E1DD;;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #00B4D8;  
}

section{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
h1{
    margin-top: 15px;
}
.contactForm{
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 3px solid blue;
    border-radius: 15px;
    background-color: white;
    text-align: left
}
label{
    display: block;
    color: black;
    margin-top: 20px;
    font-weight: bold;
}
input,select,textarea{
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid blue;
    border-radius: 4px;
    box-sizing: border-box;
}

footer {
  background-color: #415A77; 
  text-align: center;
  padding: 15px;
  font-size: 0.9em;
  color: #E0E1DD;             
}