*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: #0d1b2a;
    color: #E0E1DD;
    line-height: 1.6;
}

header{
    background: #1b263b;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;

}


img{
    width: 100px;
    height: 100px;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}
.menu{
   display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}
.nav-links a {
  text-decoration: none;
  color:  #E0E1DD;;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #00B4D8;  
}

.logo-section {
display: flex;
align-items: center;
gap: 10px;
}
.logo{
  color: #00B4D8;
  font-size: 1.8em;
  font-weight: 700;
}


.presentacion {
  text-align: center;
  padding: 50px 20px;
  background: rgba(1, 7, 59, 0.541);
  color: orange;
}

.contenedor-articulos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 40px 20px;
  background-color: #1b263b;
  gap: 30px;
}

.articulo {
  background-color: #0d1b2a;
  color: white;
  border-radius: 10px;
  padding: 20px;
  width: 30%;
  min-width: 250px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.articulo:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}

.articulo img {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 250px;
  height: auto;
  border-radius: 8px;
   display: block;
  margin-bottom: 0 auto 15px;
  
}

.articulo h2 {
  color: #00c3ff;
  margin-bottom: 10px;
}

.articulo p {
  color: #ddd;
  font-size: 15px;
  line-height: 1.6;
}

footer {
  background-color: #415A77; 
  text-align: center;
  padding: 15px;
  font-size: 0.9em;
  color: #E0E1DD;             
}